.Board {
  --card-height: 200px; 
  --card-width: 140px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card-width));
  gap: 10px;
  justify-content: center;
}

.Board-Loading{
  /*NEW - lines below for loadng spinner*/
  min-height: var(--card-height);
  align-content: center;
  display: grid;
  align-content: center;
}