:root {
  --card-clicked:lime;
  --card-background: rgb(250, 235, 215);
  --card-hover: rgb(0, 255, 255);
}

/**/
.card {
  /* width: 140px; */
  position: relative;
  min-height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: center;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: auto;
}

.card-front {
  background-color: var(--card-background);
  border: 3px solid black;
}

.card-front:hover:not(.clicked){
  background-color: var(--card-hover);
}
.card-front {
  transform: rotateY(0deg);
}

.card-front.showClickedCheat {
  background-color:salmon;
}

.card-front .card-name {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-front .card-img {
  width: 100%;
  /* max-width: 90px; */
  max-width: 85%;
  height: auto;
  /**/
  margin-top: 6px;
}

.card-front .playingCards {
  background-color: white;
  margin-top: 0px;
}