:root {
  --card-clicked:lime;
  --card-background: rgb(250, 235, 215);
  --card-hover: rgb(0, 255, 255);
}

/**/
.card {
  /* width: 140px; */
  position: relative;
  min-height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: center;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: auto;
}

.card-front {
  background-color: var(--card-background);
  border: 3px solid black;
}

.card-front:disabled {
  color: black;
  /*
  fixes default behavior making text unreadable
  it looked ok when the card was flipping, but when GameOver is showing board with showNames,
  it looks bad
  */
}

.card-front:hover:not(.clicked):not(.game-over){
  background-color: var(--card-hover);
  /* box-shadow: 0 0 6px 6px yellow; */
  box-shadow: 0 0 6px 2px yellow;
  border: 2px solid yellow;
}

.card-front.game-over:hover{
  cursor: default;
}

.card-front.showClickedCheat:not(.double-clicked) {
  background-color:salmon;
}


.card-front.double-clicked{
  background-color: #7048E8;
}

.card-front {
  transform: rotateY(0deg);
}


.card-front .card-name {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-front .card-img {
  width: 100%;
  /* max-width: 90px; */
  max-width: 85%;
  height: auto;
  /**/
  margin-top: 6px;
}

.card-front .playingCards {
  background-color: white;
  margin-top: 0px;
}

/*yolo*/
.x {
  position: absolute;
  width: 100%;
  height: 100%;
  /* transform: rotate(55deg); */
  left: 12px;
  bottom: 19px;
}

.x::before,
.x::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 119%;
  background-color: black;
}

.x::before {
  left: 40%;
  transform: rotate(-35deg);
}

.x::after {
  transform: rotate(35deg);
  right: 58%;
}