:root {
  --card-clicked:lime;
  --card-background: rgb(250, 235, 215);
  --card-hover: rgb(0, 255, 255);
}

.Card {
  background-color: var(--card-background);
  border: 3px solid black;
  display: grid;
  justify-items: center;
  padding: 6px 0px 10px;
}

.Card:hover:not(.clicked){
  background-color: var(--card-hover);
}

.Card.clicked {
  background-color:var(--card-clicked);
  animation: clickAnimation 0.30s;
}

@keyframes clickAnimation {
  0% {
    background-color: var(--card-background);
  }
  25% {
    background-color: var(--card-clicked);
  }
  75% {
    background-color: var(--card-clicked);
  }
  100% {
    background-color: var(--card-background);
  }
}

.Card.showClickedCheat {
  background-color:salmon;
}

.Card .card-name {
  font-size: 20px;
  align-self: center;
  /* padding: 0px 5px; */
  /* justify-self: stretch; */
  /* TODO TODO, have to think about whether I want this line above. It makes some titles look not crammed,
  but maybe it is better to increase the card size a bit ?*/ 
  /* padding-bottom: 4px; */
}

.Card .card-img {
  width: 100%;
  max-width: 90px;
  height: auto;
  /**/
  margin-top: 6px;
}

.Card .playingCards {
  background-color: white;
}