.CardOptions{
  justify-self: start;
  /* display: flex;
  justify-content: start; */
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  /**/
  padding: 10px 0px 5px;
  border-bottom: 2px solid rgb(119, 192, 255);
  margin-bottom: 5px;
}

.CardOptions > section {
  display: grid;
  grid-auto-flow: column;
}

.CardOptions section.show-names{
  gap: 5px;
}

.CardOptions label {
  font-size: 1.32rem;
  font-weight: 500;
  margin-right: 10px;
}

.CardOptions select {
  font-size: 1.05rem;
}

.CardOptions #show-names{
  width: 20px;
  height: 20px;
  margin-top: 0px;
  align-self: center;
}

.CardOptions #show-names:hover{
  cursor: pointer;
}