.Options {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 10px;
}

.Options button {
  font-size: 1.2rem;
  padding: 6px;
  /**/
  border-radius: 5px;
  border: 1px solid black;
  background-color:rgb(200, 234, 255);
}
