.Scoreboard {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  margin-bottom: 6px;
  
  .label {
    font-size: 1.44rem;   /*23.04 px*/
    font-weight:500;
    &.numCards {
      display: flex;
    }
  }

  div{
    column-gap: 30px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    > .stat {
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-content: start;
      column-gap: 7px;
    }
  }

  .num {
    font-weight: 500;
    font-size: 1.44rem;   /*23.04 px*/
  }
}

@media (max-width: 600px){
  .Scoreboard{
    div{
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
    }

    .stat.high-score{
      order: -1;
    }
  } 
}