.Scoreboard {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: clamp(10px, 10%, 90px);
  margin-bottom: 6px;

  

  .label {
    font-size: 1.44rem;   /*23.04 px*/
    font-weight:500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  div{
    column-gap: 35px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    > .stat {
      display: grid;
      grid-auto-flow: row;
      align-items: center;
      align-content: center;
      justify-content: start;
      column-gap: 12px;
      line-height: 1.62rem;
      &.high-score{
        // order: -1;  
        .label {
          // font-size: 1.1rem;

        }
      }
      &.numCards {
        line-height: 1.5rem;
        row-gap: 3px;
        // margin-right: -8px;
        .label{
          display: flex;
        }
      }
    }
  }

  .num {
    font-weight: 500;
    font-size: 1.44rem;   /*23.04 px*/
  }
}

@media (max-width: 600px){
  .Scoreboard{
    div{
      grid-auto-flow: row;
      // justify-items: center;
      // column-gap: 10px;
      column-gap: 10px;

      >.stat{
        grid-auto-flow: column;
        // grid-auto-columns: min-content;
        &.high-score{
          order: -1;   
        }
        &.numCards{
          order: 1;   
        }
      }
    }

  } 
}