:root *{
  margin: 0px;
  padding: 0px;
  --card-background: rgb(250, 235, 215);
  --card-hover: rgb(0, 255, 255);
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.board .card {
  background-color: var(--card-background);
  border: 3px solid black;
  display: grid;
  justify-items: center;
}

.board .card:hover{
  background-color: var(--card-hover);
  cursor: pointer;
}